@import url("login.css");

.box {
width: 200px;
height: 200px;
background-color: red;
position: absolute;
right: 10px;
bottom: 20px;
}


.box-1 {
width: 200px;
height: 200px;
background-color: blue;
}





#parent {
    border: 4px solid blue;
    height: 400px;
    width: 400px;
    position: static;
}


.child {
    height: 200px;
    width: 200px;
    background-color: maroon;
    /* position: absolute;
    right: 0px; */


}


#container {
    background-color: blue;

    width: 100%;
    margin: 0px auto;
}